/*******************

COMMON

********************/

body {
    font-family: "monospace", sans-serif
}

.font-primary{
    color :#00abae
}

.title-icon{
    font-size: 20px;
    font-weight: bold;
}


p{
    font-size: 20px;
}

h2{
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
}

a.font-black{
    color:#000 !important;
}

/********************

ABOUT

**********************/

#about img{
    border-radius: 50%;
    width: 120px;
    margin-bottom: 10px;
}

#about .name {
    font-size: 19px;
}

#about .vocation{
    font-size: 17px;
    color: #ABABAB;
    margin-bottom: 10px;
}

#about .skills{
    font-size: 14px;
    color: #00ABAE;
    margin-bottom: 10px;
}

#about .email{
    margin-top: 14px;
    font-size: 14px;
}

#about {
    margin: 60px auto;
    max-width: 400px;
    text-align: center;
}

#about .icons {
    margin-top: 20px;
    font-size: 30px;
}

#about .icons a{
    color: #000;
}

/*************************

PROJECT

**************************/

#Projects h2 {
    margin: 60px auto;
    max-width: 400px;
    text-align: center;

}

#Projects .card img {
    width: 100%;
}

#Projects .card img {
    width: 100%;
}

#Project .card-title {
    font-weight: bold;
}
